
.list-body
  %br
  %br
  %br
  .info
    %h3.list-name
      Grocery list focus : 
      = @list.title
    %br/
    %p{:style => "text-align:center"}= @list.purchase_date
    %p
    %p.list-cost 
      Total cost this week on groceries: $
      =@list.cost
    %p
      Notes:  
      =@list.notes
  %br/
  %br/
  %section.section.comments
    .container
      - if @list.foods.count == 0
        %p There are no foods on this list currently
      - else
        %h2.subtitle.is-5
          %strong= @list.foods.count
          Foods
      %table.table
        %thead
          %tr
            %th{:colspan => ""} Food Item
            %th{:colspan => ""} Expiration date
            %th{:colspan => ""} Protein
            %th{:colspan => ""} Carbs
            %th{:colspan => ""} Fats
            %th{:colspan => ""} Quantity
            %th{:colspan => ""} Total calories
        %tbody
          - @list.foods.each do |f|
            %tr
              %td= link_to f.item_name, new_grocery_food_path(f)
              %td= f.expired
              %td= f.protein
              %td= f.carbs
              %td= f.fats
              %td= f.quantity
              %td= f.total_cal
              %td= link_to "Edit item", edit_grocery_food_path(f)
              %td= link_to "Delete", grocery_food_path(f), |
                :data => {:confirm => "You sure?",  |
                :method => "delete"} 
              %td= link_to 'Show all', grocery_food_path(f)
      %hr/
      = render 'foods/form'
    %br
