<br>
  <br>
  
  <h1 style="text-align:center">Grocery items of the week</h1>
  
 
  <table class="table">
    <thead>
      <tr>
        <th colspan="">Food Item</th>
        <th colspan="">Expiration date</th>
        <th colspan="">Protein</th>
        <th colspan="">Carbs</th>
        <th colspan="">Fats</th>
        <th colspan="">Total calories</th>
      </tr>
    </thead>
 
    <tbody>
      <% @foods.each do |f| %>
        <tr>
          <td><%= f.item_name %></td>
          <td><%= f.expiration_date%></td> 
          <td><%= f.protein %></td>
          <td><%= f.carbs %></td>
          <td><%= f.fats %></td> 
          <td><%= f.calories %></td> 
        
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Create a Food item", new_food_path %>